@page
@model ProgramasASPRazor.Pages.CalculoMasaCorporalModel
@{
}
<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Calculo de Indice de Masa Corporal.</h2>
        @if (Model.calculoIMC < 18 && Model.calculoIMC >0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Bajo.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Bajo.jpg" height=15% width=15%/>
            </div>
        }
        else if (Model.calculoIMC >= 18 && Model.calculoIMC <= 24.9)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Normal.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Normal.jpg" height=15% width=15% />
            </div>
        }
        else if (Model.calculoIMC >= 25 && Model.calculoIMC <= 26.9)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Sobre Peso.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Sobre-Peso.jpg" height=15% width=15% />
            </div>
        }
        else if (Model.calculoIMC >= 27 && Model.calculoIMC <= 29.9)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Obesidad Grado I.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Grado-I.jpg" height=15% width=15% />
            </div>
        }
        else if (Model.calculoIMC >= 30 && Model.calculoIMC <= 39.9)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Obesidad Grado II.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Grado-II.jpg" height=15% width=15% />
            </div>
        }
        else if (Model.calculoIMC >= 40)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.mensaje Obesidad Grado III.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-lg-9 mx-auto rounded border p-3" align="center">
                <img src="~/img/Grado-III.jpg" height=15% width=15% />
            </div>
        }
        <br/>
        <form method="post">
            <!--Campo Peso-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Ingrese su peso:</label>
                <div class="col-sm-8">
                    <input class="form-control" step="any" type="number" asp-for="Peso" />
                </div>
            </div>
            <!--Campo Altura-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Ingrese su altura:</label>
                <div class="col-sm-8">
                    <input class="form-control" step="any" type="number" asp-for="Altura" />
                </div>
            </div>
            <!--Boton de Calcular-->
            <div class="row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Calcular IMC</button>
                </div>
            </div>
        </form>
    </div>
</div>